#Ignore files with following extensions
*.swp
*.pyc
*.txt
!examples/*.txt
*.sh
*.json
test*
temp.py
fndump.py
rbn.py
sg_run.py
sgs.py
signals.py
infer.py
reduce_run.py
newtest.py
EMT_run.py
parser.out
parsetab.py
